# Git
.git
.gitignore

# Virtual environments
.venv
venv
env
ENV

# Python bytecode & cache
__pycache__
*.py[cod]
*$py.class
*.so
.Python

# Tests and Coverage
tests/
.pytest_cache/
.coverage
.coverage.*
coverage.xml
test-results.xml
htmlcov/

# SonarQube & Linters
.sonar
.scannerwork
sonar-project.properties
.flake8

# Docker & CI/CD assets
Dockerfile*
.dockerignore
docker-compose*.yml
.gitlab-ci.yml
.github/
nginx/
scripts/

# Documentation & metadata
*.md
README*
LICENSE*

# Secrets & Environment configs
.env*
*.key
*.pem

# IDEs & OS files
.vscode
.idea
.DS_Store
Thumbs.db
